# 从 Neon Console 获取连接串：https://console.neon.tech
TREADSTONE_DATABASE_URL=postgresql+asyncpg://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
TREADSTONE_DEBUG=true

# Auth
TREADSTONE_AUTH_TYPE=cookie
TREADSTONE_REGISTER_MODE=unlimited
TREADSTONE_JWT_SECRET=CHANGE_ME_IN_PROD
TREADSTONE_OAUTH_REDIRECT_URL=http://localhost:3000/auth/callback
TREADSTONE_GOOGLE_OAUTH_CLIENT_ID=
TREADSTONE_GOOGLE_OAUTH_CLIENT_SECRET=
TREADSTONE_GITHUB_OAUTH_CLIENT_ID=
TREADSTONE_GITHUB_OAUTH_CLIENT_SECRET=
